.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
    display: flex;
    flex-direction: column;
    align-items: flex-start ; 
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s ease;
    overflow: hidden;

}

.card:hover .overlay {
    opacity: 1;

}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    transition: all 0.3s ease;
}